.feature{
	color: #fff;
	background-color: #393a3c;
        height: 250px; 
	width:200px;
	padding: 10px;
	border-radius: 10px;
	border-bottom: 1px solid #fff;
	
	
}
.feature h3{
	align-items: center;
	color:lightskyblue;


}
.feature .lins{
	
	margin-left: 10px;
	padding-left: 10px;
}